form {
    width: 35rem;
    background-color: var(--bg-clr);
    border-radius: 12px;
    box-shadow: 0 0.3rem 0.3rem 0.3rem var(--outline);
    padding: 2rem;
    display: grid;
    gap: 30px;
}

.setup-container {
    display: flex;
    flex-direction: column;
}

label {
    color: var(--label-clr);
    display: block;
    margin-bottom: .5rem;
    font-size: 1.3rem;
    letter-spacing: 1.1px;
}

ul {
    display: flex;
    align-items: center;
    gap: 12px;
}
ul li {
    width: 100%;
}
ul li button {
    background-color: var(--inp-bg);
    color: var(--text-clr);
    transition: 0.4s ease;
} 

ul li button.active {
    background-color: var(--btn-bg);
}

select {
    background-color: var(--inp-bg);
    color: var(--text-clr);
}
select::-webkit-scrollbar {
    width: 0.5rem;
    background-color: var(--bg-clr);
}
select::-webkit-scrollbar-thumb {
    background-color: var(--text-clr);
    border-radius: 0.3rem;  
}

button[type="submit"] {
    background-color: var(--submit-bg);
    color: var(--text-clr);
}

@media (hover: hover) {
    ul li button.active:hover {
        background-color: var(--btn-bg-hvr);
    }
    button[type="submit"]:hover {
        background-color: var(--submit-bg-hvr);
    }
    ul li button:hover { 
        background-color: var(--inp-bg-hvr);
    }
}

@media (max-width: 750px) {
    form {
        width: 30rem;
    }
}
@media (max-width: 550px) {
    form {
        width: 25rem;
    }
    label {
        font-size: 1.1rem;
    }
    option {
        font-size: 1rem;
    }
    ul li button {
        font-size: 1rem;
    }
}
@media (max-width: 450px) {
    form {
        width: 95%;
    }
}