.quiz-container {
    background-color: var(--bg-clr);
    border-radius: 12px;
    box-shadow: 0 0.3rem 0.3rem 0.3rem var(--outline);
    padding: 1.25rem;
    width: 60rem;
    display: grid;
    gap: 40px;
}

.timer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.timer {
    display: flex;
    align-items: center;
    gap: 6px;
}
.timer-container :is(p) {
    margin-right: 40px;
    font-size: 2rem;
    font-weight: 700;
}
.timer-container :is(svg) {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.timer-container :is(svg, p) {
    color: #ffffff; 
}

.timer-container .progress-bar {
    width: 45rem;
}


.loading-container {
    text-align: center;
    background-color: var(--bg-clr);
    border-radius: 12px;
    box-shadow: 0 0.3rem 0.3rem 0.3rem var(--outline);
    padding: 1.25rem;
    width: 60rem;
    height: 30rem;
    display: grid;
    place-items: center;
}
.loading-container h1 {
    font-size: 4rem;
    letter-spacing: 2px;
    color: rgb(237, 237, 46);
}

.dot-animation {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: rgb(237, 237, 46);
    border-radius: 50%;
    margin-right: 16px; 
    opacity: 0; 
    animation: dot-blink 1.5s infinite; 
}

.dot-animation:nth-child(1) {
    animation-delay: 0s;
}

.dot-animation:nth-child(2) {
    animation-delay: 0.5s;
}

.dot-animation:nth-child(3) {
    animation-delay: 1s;
}

@keyframes dot-blink {
    0%, 100% {
        opacity: 0; 
    }
    50% {
        opacity: 1; 
    }
}

@media (max-width: 1100px) {
    .quiz-container {
        width: 50rem;
        gap: 30px;
    }
    .loading-container {
        width: 50rem;
    }
    .loading-container h1 {
        font-size: 3.5rem;
    }
    .timer-container .progress-bar {
        width: 40rem;
    }
}
@media (max-width: 900px) {
    .quiz-container {
        width: 40rem;
    }
    .loading-container {
        width: 40rem;
    }
    .loading-container h1 {
        font-size: 3rem;
    }
    .timer-container .progress-bar {
        width: 30rem;
    }
}
@media (max-width: 700px) {
    .quiz-container {
        width: 30rem;
    }
    .loading-container {
        width: 30rem;
    }
    .loading-container h1 {
        font-size: 2.5rem;
    }
    .timer-container :is(p) {
        font-size: 1.5rem;
    }
    .timer-container :is(svg) {
        height: 20px;
        width: 20px;
    }
    .timer-container .progress-bar {
        width: 20rem;
    }
}
@media (max-width: 550px) {
    .quiz-container {
        width: 95%;
    }
    .loading-container {
        width: 25rem;
    }
    .timer-container .progress-bar {
        width: 15rem;
    }
}
@media (max-width: 450px) {
    .loading-container {
        width: 20rem;
    }
    .timer-container .progress-bar {
        width: 10rem;
    }
}