.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-clr);
    padding: 1.5rem 4rem;
    border-radius: 0 0 90px 90px;
}

#home-button button {
    background-color: #525272;
    color: #ffffff;
    transition: .3s;
    padding: 12px 1.8rem;
    font-family: sans-serif;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 8px;
}
.nav-logo :is(h1, svg) {
    color: var(--nav-clr);
}
.nav-logo h1 {
    letter-spacing: 2.5px;
    font-size: 2rem;
}
.nav-logo svg {
    width: 30px;
    height: 30px;
}

.nav-progressbar {
    display: flex;
    align-items: center;
    gap: 15px;
    text-transform: uppercase;
}
.nav-progressbar p {
    color: var(--nav-clr);
    font-weight: 700;
    font-size: 1.2rem;
    font-family: sans-serif;
}
.progress-bar {
    width: 40rem;
}

@media (hover: hover) {
    #home-button button:hover {
        background-color: #7f7fa8;
    }
}

@media (max-width: 750px) {
    .nav {
        padding: 1.5rem 2.5rem; 
    }
    .nav-logo h1 {
        font-size: 1.5rem;
    }
    .nav-logo svg {
        height: 26px;
    }
    .nav-progressbar p {
        display: none;
    }
    #home-button button {
        font-size: 0.9rem;
    }
}

@media (max-width: 550px) {
    .nav-logo h1 {
        font-size: 1.2rem;
    }
    .nav-logo svg {
        height: 22px;
    }
    #home-button button {
        font-size: 0.8rem;
    }
}
@media (max-width: 450px) {
    .nav-logo h1 {
        font-size: 1.5rem;
    }
    .nav-logo svg {
        height: 28px;
        width: 28px;
    }
    #home-button button {
        font-size: 1rem;
    }
    .nav {
        flex-direction: column;
        gap: 12px;
    }
}
