.question-container {
    display: grid;
    gap: 50px;
    place-items: center;
}
.question-container h1 {
    text-align: center;
    color: #0f2d5f;
}

ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

ul li {
    width: 40%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: var(--submit-bg);
    border-radius: 16px;
    padding: 1rem 2rem;
    color: var(--text-clr);
    font-size: 1.5rem;
}
ul li:hover {
    background-color: var(--submit-bg-hvr);
}