.question-container {
    display: grid;
    gap: 40px;
    place-items: center;
}
.question-container h1 {
    text-align: center;
    color: #0f2d5f;
    font-size: 1.8rem;
    font-weight: 700;
}

.question-container ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.question-container ul li {
    width: 40%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    background-color: var(--submit-bg);
    border-radius: 16px;
    padding: 1rem 2rem;
    color: var(--text-clr);
    font-size: 1.3rem;
}

.question-container ul li.correct {
    background-color: var(--correct);
    animation: correct-zoom 0.6s ease-in-out;
}

@media (hover: hover) {
    .question-container ul li:hover {
        background-color: var(--submit-bg-hvr);
    }
}

@keyframes correct-zoom {
    33% {
        transform: scale(0.9);
    }
    66% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.question-container ul li.wrong {
    background-color: var(--incorrect);
    animation: incorrect-sway 0.6s ease-in-out;
}

@keyframes incorrect-sway {
    0%, 100% {
        transform: translateX(0);
    }
    30%, 50%, 70%, 90% {
        transform: translateX(1rem);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(-1rem);
    }
}

@media (max-width: 1100px) {
    .question-container h1 {
        width: 100%;
        font-size: 1.5rem;
    }
    .question-container ul {
        gap: 15px;
    }
    .question-container ul li {
        width: 50%;
    }
}
@media (max-width: 900px) {
    .question-container ul li {
        width: 60%;
        font-size: 1.15rem;
    }
}
@media (max-width: 700px) {
    .question-container ul li {
        width: 70%;
    }
}
@media (max-width: 500px) {
    .question-container ul li {
        width: 80%;
    }
}