@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Neucha', cursive;
}

:root {
	/* colours */
}

html {
	scroll-behavior: smooth;
}

body {
    background-image: url(assets/background.svg);
	background-size: cover;
	overflow-x: hidden;
}

button {
	border: none;
    border-radius: 8px;
    padding: 0.6rem 1.2rem;
    font-size: 1.2rem;
    width: 100%;
	--webkit-user-select: none;
	user-select: none;
    cursor: pointer;
}